<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Academie </title>
    <link rel="shortcut icon" href="/media/logo/favicon.ico" type="image/x-icon">
	<!-- <meta name="description" content="{$site_description}">
	<meta name="keywords" content="{$site_keywords}"> -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon-set.css" rel="stylesheet">
    <link href="/css/themify-icons.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/bootsnav.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
    <link href="util/css/home.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>

<body >
  <%- include('./includes/header')%>


<div class="course-details-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="courses-info">
                    <div class="course-meta" >
                       <div class="align-left" >
                          <h2 style="margin:0px;padding:0px;">  
                            Digital Marketing
                          </h2>
                       </div>
                        <div class="align-right">
                            <a class="btn btn-theme effect btn-sm" href="enrollNow.html">
                                <i class="fas fa-chart-bar"></i> Enroll
                            </a>
                        </div>
                    </div>
                    <img src="/media/images/courses/digital_marketing.jpg " alt="Thumb">
                    <div class="tab-info">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1" aria-expanded="true">
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2" aria-expanded="false">
                                    Major Topics
                                </a>
                            </li>
                            <li>
                              <a data-toggle="tab" href="#tab4" aria-expanded="false">
                                  Eligiblity
                              </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab3" aria-expanded="false">
                                    opportunity
                                </a>
                            </li>
                            
                        </ul>
                        <div class="tab-content tab-content-info">
                            <div id="tab1" class="tab-pane fade active in">
                                <div class="info title">
                                    <h4>About Course</h4>
                                    <P>
                                        With a view to enrich your career in new age marketing techniques, pursue Digital Marketing course.
                                        In depth knowledge of online promoting, advertising, branding & selling a product across several platforms,
                                        can be well learnt through this course. Extensive industry-based practical experience will provide
                                        students to excel in the real business world. Here, the applicants get an opportunity to master under professional experts guidance. 
                                        Our faculty comprises supreme talents from Digital Marketing domain & leading industry-oriented guest lecturers. 
                                        
                                    </P>
                                    <p>
                                        Our courses are categorized based on the needs of the student. We also customize course plan on request of the student.
                                        Considering the duration, subject requirement & payment plan, courses can be structured.
                                         Typically there are 3 major programs for Digital Marketing Course 
                                    </p>
                                    

                                </div>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                      <div class="panel-heading ">
                                        <h4 class="panel-title  ">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                          1.  Digital Marketing Beginner
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse1" class="panel-collapse collapse active in">
                                        <div class="panel-body">
                                            <p>
                                                 Students who prefer to expertise in Digital Marketing skills right from scratch are best suitableto
                                                 initiate with the Beginner Level course. The course will detail in fundamentals, features & implication 
                                                 of digital marketing in real work-life.
                                                </p>
                                             <ul class="ul-class">
                                                 <li>
                                                    <h4>
                                                       Duration: 3 months
                                                    </h4>
                                                 </li>
                                                 <li>
                                                    <h4>
                                                        Inclusions: 2 months Study + 1 month Internship
                                                    </h4>
                                                    
                                                 </li>
                                             </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            2. Digital Marketing Executive
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Students, who have already worked in the field of digital marketing & willing to 
                                            explore comprehensive curriculum can opt for Executive module. Prior experience in
                                             the subject enable students to understand more thoroughly.This in turn easily 
                                             helps them to correlate learning with work experience
                                       
                                          <ul class="ul-class">
                                            <li>
                                               <h4>
                                                  Duration: 5 months
                                               </h4>
                                            </li>
                                            <li>
                                               <h4>
                                                   Inclusions: 3 months Study + 2 month Internship
                                               </h4>
                                               
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                            3.	Digital Marketing Masters
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Students who want to be proficient in all aspects of digital
                                             marketing must choose for Masters. Their existing command on
                                            the subject besides execution experience will enhance the learning
                                            <ul class="ul-class">
                                                <li>
                                                   <h4>
                                                      Duration : 9 months
                                                   </h4>
                                                </li>
                                                <li>
                                                   <h4>
                                                       Inclusions: 6 months Study + 3 month Internship
                                                   </h4>
                                                </li>
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                            Collapsible Group 3</a>
                                          </h4>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse">
                                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                          commodo consequat.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                            Collapsible Group 3</a>
                                          </h4>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse">
                                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                          commodo consequat.</div>
                                        </div>
                                    </div> -->
                                </div>
                              
                            </div>
                            <div id="tab2" class="tab-pane fade ">
                                <div class="info title">
                                    <h4>Course Curriculum</h4>
                                    <P>
                                         The course is designed to facilitate a list of 50 module learning. Each module has note
                                         based study content paired with assignments. It encourages students to implement acquired
                                         knowledge with little efforts.  
                                        
                                    </P>
                                  

                                </div>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                      <div class="panel-heading ">
                                        <h4 class="panel-title  ">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                            1.	Digital Marketing Overview
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse11" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                             <ul class="ul-class">
                                                 <li>
                                                    <h5>
                                                        Keyword Research
                                                    </h5>
                                                 </li>
                                                 <li>
                                                    <h5>
                                                        competitor Analysis
                                                    </h5>
                                                    
                                                 </li>
                                             </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                                            2.	Search Engine Marketing
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse12" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                        
                                          <ul class="ul-class">
                                            <li>
                                               <h5>
                                                	Search Engine Fundamentals
                                               </h5>
                                            </li>
                                            <li>
                                               <h5>
                                                	On-Page SEO
                                               </h5>
                                               
                                            </li>
                                            <li>
                                                <h5>
                                                    Off-Page SEO
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                   Local SEO
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                  Advanced SEO Technique
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                    Google Ad words
                                                </h5>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                                            3.	Social Media Optimization
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse13" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                 <h5>
                                                   Facebook Marketing 
                                                 </h5>
                                              </li>
                                              <li>
                                                 <h5>
                                                   Instagram Marketing
                                                 </h5>
                                                 
                                              </li>
                                              <li>
                                                  <h5>
                                                    	LinkedIn Marketing
                                                  </h5>
                                              </li>
                                              <li>
                                                  <h5>
                                                     Quora Marketing
                                                  </h5>
                                              </li>
                                              <li>
                                                  <h5>
                                                    Social Meida Automation
                                                  </h5>
                                              </li>
                                              
                                            </ul>
                                        </div>
                                      </div>
                                      
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                                            4.	Content Marketing
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse14" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                 <h5>
                                                  	Content Creation
                                                 </h5>
                                              </li>
                                              <li>
                                                 <h5>
                                                  	Content Promotion
                                                 </h5>
                                                 
                                              </li>
                                              <li>
                                                  <h5>
                                                    	LinkedIn Marketing
                                                  </h5>
                                              </li>
                                              <li>
                                                  <h5>
                                                     Quora Marketing
                                                  </h5>
                                              </li>
                                              <li>
                                                  <h5>
                                                    Social Meida Automation
                                                  </h5>
                                              </li>
                                              
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                                            5.	Google Algorithms
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse15" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                 <h5>
                                                  	Google Search Console
                                                 </h5>
                                              </li>
                                              <li>
                                                 <h5>
                                                  	Google Analytics
                                                 </h5>
                                                 
                                              </li>
                                              <li>
                                                  <h5>
                                                     Google Tag  Manager
                                                  </h5>
                                              </li>
                                              <li>
                                                  <h5>
                                                    	Google Optimizer
                                                  </h5>
                                              </li>
                                              <li>
                                                  <h5>
                                                  	Advanced Google Ad Techniques
                                                  </h5>
                                              </li>
                                              
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                                            6.	Branding
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse16" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                 <h5>
                                                   Online Display Advertising
                                                 </h5>
                                              </li>
                                              <li>
                                                 <h5>
                                                  	Video Marketing
                                                 </h5>
                                                 
                                              </li>
                                              <li>
                                                  <h5>
                                                     Mobile Marketing
                                                  </h5>
                                              </li>
                                              <li>
                                                  <h5>
                                                    	Whatsapp Marketing
                                                  </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                  Email Marketing
                                                </h5>
                                             </li>
                                             <li>
                                                  <h5>
                                                  	  SMS Marketing
                                                  </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                  Viral Marketing
                                                </h5>
                                             </li>
                                            
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                                            7.	Website Creation & Planning
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse17" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                 <h5>
                                                 	Domain & Hosting
                                                 </h5>
                                              </li>
                                              <li>
                                                 <h5>
                                                 	Graphic Creation
                                                 </h5>
                                                 
                                              </li>
                                              <li>
                                                  <h5>
                                                   	E-Commerce Creation
                                                  </h5>
                                              </li>
                                              <li>
                                                  <h5>
                                                   	App Creation
                                                  </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                 	App Store Optimization
                                                </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                 	Growth Hacking
                                                </h5>
                                              </li>
                                          
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">
                                            8.	Ecommerce Marketing
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse18" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                 <h5>
                                                 	Affiliate Marketing
                                                 </h5>
                                              </li>
                                              <li>
                                                 <h5>
                                                 	Remarketing
                                                 </h5>
                                                 
                                              </li>
                                              <li>
                                                  <h5>
                                                   	Online Reputation Management
                                                  </h5>
                                              </li>                                           
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">
                                            9.	Lead Generation & Conversions
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse19" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                 <h5>
                                                  	Lead Generation & Conversions
                                                 </h5>
                                              </li>
                                             
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse20">
                                            10.	Agency Operation
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse20" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                Freelancing
                                              </li>
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse21">
                                            11.	Start-up Plans & Entrepreneurship
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse21" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                             
                                              <li>
                                                  <h5>
                                                  Start-up Plans
                                                  </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                   Entrepreneurship
                                                </h5>
                                            </li>
                                              
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div id="tab3" class="tab-pane fade">
                                <div class="info title">
                                    <div class="advisor-list-items">
                                        
                                        <!-- {foreach from=$instructors_details item=instructor_details} -->
                                        
                                        <h4>Top Opportunities</h4>
                                    <ul class="ul-class">
                                      <li>
                                         <h5>
                                          	Digital Marketing Manager
                                         </h5>
                                      </li>
                                      <li>
                                         <h5>
                                          Social Media Manager
                                         </h5>
                                         
                                      </li>
                                      <li>
                                          <h5>
                                            Social Media Executive
                                      </li>
                                      <li>
                                          <h5>
                                            SEO Executive/Expert
                                          </h5>
                                      </li>
                                      <li>
                                          <h5>
                                            PPC/SEM Expert	
                                          </h5>
                                      </li>
                                      <li>
                                          <h5>
                                            Content Marketer
                                          </h5>
                                      </li>
                                     
                                    </ul>
                                        
                                        <!-- {/foreach} -->
                  
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="tab-pane fade">
                              <div class="info title">
            
                                  <h4> 
                                    Minimum Qualification 
                                    <h5> 
                                      10+2, Freshers or Graduates in Computer Science
                                    </h5>
                                </h4>
                                <p>
                                  <h4>
                                    Suitable For 
                                    <h5>
                                      B-Tech Graduates, IT Professionals
                                    </h5>
                                  </h4>
                                 
                                    
                                  </p>
                             
                              </div>                                
                          </div>
                        </div>
                    </div>
                </div>
            </div>
<!--  -->
        
        </div>
    </div>
</div>
      
<%- include('./includes/footer')%>
  
  <script src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/equal-height.min.js"></script>
  <script src="/js/jquery.appear.js"></script>
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/modernizr.custom.13711.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/progress-bar.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/count-to.js"></script>
  <script src="/js/YTPlayer.min.js"></script>
  <script src="/js/loopcounter.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/bootsnav.js"></script>
  <script src="/js/main.js"></script>
  
  <script src="/js/generated/ready.js"></script>
  <script src="/js/generated/js_functions.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>