<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Academie </title>
    <link rel="shortcut icon" href="/media/logo/favicon.ico" type="image/x-icon">
	<!-- <meta name="description" content="{$site_description}">
	<meta name="keywords" content="{$site_keywords}"> -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon-set.css" rel="stylesheet">
    <link href="/css/themify-icons.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/bootsnav.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
    <link href="util/css/home.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
  <%- include('./includes/header')%>
 

<div class="course-details-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="courses-info">
                    <h2>
                        
                    </h2>
                    <div class="course-meta" >
                      <div class="align-left" >
                        <h2 style="margin:0px;padding:0px;">  
                          Human Resource Management
                        </h2>
                       </div>
                       <div class="align-right">
                          <a class="btn btn-theme effect btn-sm" href="enrollNow.html">
                            <i class="fas fa-chart-bar"></i> Enroll
                          </a>
                      </div>
                    </div>
                    <img src="/media/images/courses/human_resources.jpg" alt="Thumb">
                    <div class="tab-info">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1" aria-expanded="true">
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2" aria-expanded="false">
                                    Major Topics
                                </a>
                            </li>
                            <li>
                              <a data-toggle="tab" href="#tab4" aria-expanded="false">
                                  Eligiblity
                              </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab3" aria-expanded="false">
                                    opportunity
                                </a>
                            </li>
                            
                        </ul>
                        <div class="tab-content tab-content-info">
                            <div id="tab1" class="tab-pane fade active in">
                                <div class="info title">
                                    <h4>About Course</h4>
                                    <P>
                                      Human Resource Management is an utmost essential segment of any organization. It occupies lion’s share in strategic management of resources. Despite any educational background, Human Resource Management can be chosen course of education. A prudent proposition to manage workforce which involves employment hiring, remunerations & exclusive employee engagement are the fundamental jobs. Students who aspire to build a career in skilled resource planning, enthusiastic team development & structuring for high productivity in an organization, are recommended to accelerate with Human Resource Management course
                                          
                                      </P>
                                      <p>
                                        Academia proposes Human Resource Management course in three-tier educational plan. Based on conceptualization & requisite knowledge on the subject, students can select the course. We privilege enrolled students to benefit with our complementary service of personalized course plan. Specifically the three-tier educational plan is: 
                                      </p>
                                     
                         
                                  </div>
                                  <div class="panel-group" id="accordion">
                                      <div class="panel panel-default">
                                        <div class="panel-heading ">
                                          <h4 class="panel-title  ">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                              1.	Human Resource Beginner
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse active in">
                                          <div class="panel-body">
                                              <p>
                                                The beginner level course is basically designed for fresh students who are just layman to the subject. The course will detail in basic insights of Human Resource & its Management. The practicality of the work can be best experienced through training programs. Hence, the beginner level will initiate a career for a HR professional.
                                              </p>
                                            <ul class="ul-class">
                                                 <li>
                                                    <h4>
                                                       Duration:: 6 Months
                                                    </h4>
                                                 </li>
                                                 <li>
                                                    <h4>
                                                      3 Months Study + 3 Months Internship
                                                    </h4>
                                                    
                                                 </li>
                                             </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            2.	Human Resource Executive
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <p>  Students, who wish to expand their existing understanding of the subject, can prefer opting for an Executive program. For seasoned or experienced professionals, their earlier know-how on human resource management will create a framework for smart learning. Through this level of education, the academic will correspond to professional experience. Here the selection of specialization in Advanced HR, SAP HR & Generalist HR Training becomes easier. 
                                           </p>
                                          <ul class="ul-class">
                                            <li>
                                               <h4>
                                                    Duration: 9 Months
                                               </h4>
                                            </li>
                                            <li>
                                               <h4>
                                                    6 Months Study + 3 Months Internship
                                               </h4>
                                               
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                            3.	Human Resource Master
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <p>
                                             Polishing the chosen specialized area of interest in Human Resource Management can be achieved through its master’s degree. This course aims at students to excel in every aspects of human resource. It is an applied learning process that encourages career indulgence with best practices followed in the actual operations of the department. 
                                           </p>
                                          <ul class="ul-class">
                                            <li>
                                               <h4>
                                                    Duration: 15 Months
                                               </h4>
                                            </li>
                                            <li>
                                               <h4>
                                                12 Months Study + 3 Months Paid Internship + Guaranteed Placement
                                               </h4>
                                               
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    <!-- <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                            Collapsible Group 3</a>
                                          </h4>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse">
                                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                          commodo consequat.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                            Collapsible Group 3</a>
                                          </h4>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse">
                                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                          commodo consequat.</div>
                                        </div>
                                    </div> -->
                                </div>
                              
                            </div>
                            <div id="tab2" class="tab-pane fade ">
                                <div class="info title">
                                    <h4>Course Curriculum</h4>
                                    <P>
                                         The course is designed to facilitate a list of 50 module learning. Each module has note
                                         based study content paired with assignments. It encourages students to implement acquired
                                         knowledge with little efforts.  
                                        
                                    </P>
                                    

                                </div>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                      <div class="panel-heading ">
                                        <h4 class="panel-title  ">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                            1.	Overview on Human Resource Management
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse11" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                    	Recruitment across different sectors
                                                   </h5>
                                                </li>
                                                <li>
                                                   <h5>
                                                    	Industrial Recruitment Understanding 
                                                   </h5>
                                                   
                                                </li>
                                                
                                              </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                                            2.	Basic Human Resource Management 
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse12" class="panel-collapse collapse">
                                          <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                    	Domestic HRM
                                                   </h5>
                                                </li>
                                                <li>
                                                   <h5>
                                                      International HRM
                                                   </h5>
                                                   
                                                </li>                                                
                                              </ul>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                                           
                                            3.	HRM Process & Operations
                                            
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse13" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                    	Fundamental Aspects
                                                   </h5>
                                                </li>
                                                <li>
                                                   <h5>
                                                        Types of retail Location
                                                   </h5>
                                                   
                                                </li>
                                                
                                              </ul>
                                            
                                        </div>
                                      </div>
                                      
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                                            4.	Recruitment 
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse14" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                    	Recruitment Strategy
                                                   </h5>
                                                </li>
                                                <li>
                                                  <h5>
                                                  	Recruitment Planning
                                                  </h5>
                                               </li>
                                               <li>
                                                <h5>
                                                  	Recruitment Cycle
                                                </h5>
                                             </li>
                                             
                                              </ul>
                                          
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                                            5.	Payroll Management
                                        </h4>
                                      </div>
                                      <div id="collapse15" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                    	Perks & Remunerations
                                                   </h5>
                                                </li>
                                                <li>
                                                  <h5>
                                                    <li>
                                                      <h5>
                                                       	Employee’s financial Recording
                                                      </h5>
                                                   </li>
                                                  </h5>
                                               </li>
                                           
                                                
                                              </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                                            6.	HR Outsourcing
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse16" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                      Hiring fundamentals
                                                   </h5>
                                                </li>
                                                <li>
                                                  <h5>
                                                    	Third Party Association Techniques
                                                  </h5>
                                                </li>
                                                <li>
                                                  <h5>
                                                      Detailing Job Vacancies
                                                  </h5>
                                                </li>
                                              </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                                              7.	Training & Development
                                           </a>
                                          </h4>
                                        </div>
                                        <div id="collapse17" class="panel-collapse collapse">
                                          <div class="panel-body">
                                              <ul class="ul-class">
                                                  <li>
                                                     <h5>
                                                      	Software Training
                                                     </h5>
                                                  </li>
                                                  <li>
                                                     <h5>
                                                      Advanced HR Training
                                                     </h5>
                                                     
                                                  </li>
                                                  <li>
                                                      <h5>
                                                       	HR Generalist Training
                                                      </h5>
                                                  </li>
                                                  <li>
                                                    <h5>
                                                     	SAP HR Training
                                                    </h5>
                                                </li>
                                                </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">
                                                8.	Tips for Successful Retailing
                                           </a>
                                          </h4>
                                        </div>
                                        <div id="collapse18" class="panel-collapse collapse">
                                          <div class="panel-body">
                                              <ul class="ul-class">
                                                  <li>
                                                     <h5>
                                                         Tips 1
                                                     </h5>
                                                  </li>
                                                  <li>
                                                    <h5>
                                                        Tips 2
                                                    </h5>
                                                 </li>
                                                </ul>
                                          </div>
                                        </div>
                                      </div>
                                    
                                </div>
                            </div>
                            
                            <div id="tab3" class="tab-pane fade">
                                <div class="info title">
                                    <div class="advisor-list-items">
                                        
                                        <!-- {foreach from=$instructors_details item=instructor_details} -->
                                        
                                        <h4>Top Opportunities</h4>
                                        <ul class="ul-class">
                                            <li>
                                               <h5>
                                                Human Resource Assistant
                                               </h5>
                                            </li>
                                            <li>
                                               <h5>
                                                Payroll Specialist
                                               </h5>
                                               
                                            </li>
                                            <li>
                                                <h5>
                                                  Compensation Specialist
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                  Training Manager
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                  Training Coordinator
                                                </h5>
                                            </li>
                                            <li>
                                              <h5>
                                                Human Resource Manager
                                              </h5>
                                            </li>
                                                                          
                                          </ul>
                                        
                                        <!-- {/foreach} -->
                  
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="tab-pane fade">
                              <div class="info title">
                               
                                 
                                  <P>
                                    <h4> 
                                        Minimum Qualification 
                                        <h5> 
                                            Bachelors or equivalent degree in any discipline
                                        </h5>
                                    </h4>
                                    </P>
                                  <h4>
                                    Suitable For <h5>
                                      Undergraduates, Job-seekers, Industry- professionals, HR Managers, Entrepreneurs
                                      </h5>
                                  </h4>
                                  
                             
                              </div>                                
                          </div>
                        </div>
                    </div>
                </div>
            </div>
<!--  -->
        
        </div>
    </div>
</div>
      
<%- include('./includes/footer')%>
  
  <script src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/equal-height.min.js"></script>
  <script src="/js/jquery.appear.js"></script>
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/modernizr.custom.13711.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/progress-bar.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/count-to.js"></script>
  <script src="/js/YTPlayer.min.js"></script>
  <script src="/js/loopcounter.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/bootsnav.js"></script>
  <script src="/js/main.js"></script>
  
  <script src="/js/generated/ready.js"></script>
  <script src="/js/generated/js_functions.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>