<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Academie </title>
    <link rel="shortcut icon" href="/media/logo/favicon.ico" type="image/x-icon">
	<!-- <meta name="description" content="{$site_description}">
	<meta name="keywords" content="{$site_keywords}"> -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon-set.css" rel="stylesheet">
    <link href="/css/themify-icons.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/bootsnav.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
    <link href="util/css/home.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
  <%- include('./includes/header')%>
  

<div class="course-details-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="courses-info">
                   
                    <div class="course-meta" >
                      <div class="align-left" >
                        <h2 style="margin:0px;padding:0px;">  
                          INFORMATION & TECHNOLOGY
                        </h2>
                       </div>
                       <div class="align-right">
                          <a class="btn btn-theme effect btn-sm" href="enrollNow.html">
                            <i class="fas fa-chart-bar"></i> Enroll
                          </a>
                      </div>
                    </div>
                    <img src="/media/images/courses/What_is_Information_Technology.webp" alt="Thumb">
                    <div class="tab-info">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1" aria-expanded="true">
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2" aria-expanded="false">
                                    IT Courses
                                </a>
                            </li>
                            <li>
                              <a data-toggle="tab" href="#tab4" aria-expanded="false">
                                  Eligiblity
                              </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab3" aria-expanded="false">
                                    Opportunity
                                </a>
                            </li>
                            
                        </ul>
                        <div class="tab-content tab-content-info">
                            <div id="tab1" class="tab-pane fade active in">
                                <div class="info title">
                                  <h4>About The Course</h4>
                                  <P>
                                    Under our IT courses, students or working professionals can enhance their software development skill sets.
                                     We offer varied courses with tailor-made packages for easy accessibility and specialized knowledge library.  
                                    The courses are designed taking into consideration the constant demand of computer application and programming 
                                    languages. Through Academie , students can conquer the technical challenges faced in their present work-life.
                                     The online classes are digitally optimized to deliver expert strategies in applied learning approach. 
                                        
                                    </P>
                                    <p>
                                      We are duly accredited framework that is magnificently flexible and support career advancement.
                                       The study is both enabled through desktop and laptop with unlimited access to curriculum 
                                       gallery and study materials during the course. However in Academie, our IT courses
                                       facilitate designing, developing, implementing & managing computer systems & software.
                                    </p>
                                    <p>
                                      Accademie fosters cross-functional learning through its Retail Management program. 
                                      Our courses validate applicants to stay updated 
                                      with recurring and upcoming business trends in the field. The course has two major programs
                                    </p>
                                    
                       
                                </div>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                      <!-- <div class="panel-heading ">
                                        <h4 class="panel-title  ">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                            1.	Beginner Course
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse1" class="panel-collapse collapse active in">
                                        <div class="panel-body">
                                            <p>
                                               An entry-level IT course will boost career in the technical field. Students or
                                               beginners with little know-how on the subject can streamline their career in
                                               computer science after pursuing the beginner course.
                                               The course includes Data Science Master & Python Module for initial inception.
                                                </p>
                                             <ul class="ul-class">
                                                 <li>
                                                    <h4>
                                                       Duration: 3 months
                                                    </h4>
                                                 </li>
                                                 <li>
                                                    <h4>
                                                        Inclusions: 2 months Study + 1 month Internship
                                                    </h4>
                                                    
                                                 </li>
                                             </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            2.	Executive Course
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          With an existing knowledge in Python, R or Data Analysis, candidates who decide
                                          to define a career for themselves can access executive course to gain further 
                                          improvement on the subject. Once the student decides on the topic, choosing a
                                          right path ahead is no far troublesome. 
                                          The course will eventually provide elaborate overview on the concepts opted for.
                                          <ul class="ul-class">
                                            <li>
                                               <h4>
                                                  Duration: 5 months
                                               </h4>
                                            </li>
                                            <li>
                                               <h4>
                                                   Inclusions: 3 months Study + 2 month Internship
                                               </h4>
                                               
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                            3.	Masters in IT
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Candidates interested in obtaining superseding knowledge in data science, must proceed with Master Course.
                                           The course is an overall development strategy to intensify career and personal enlargement. Certainly an 
                                           IT candidate seeking to bloom professional career, 
                                          should look forward to pursue IT for masters.  There are multiple course plans under the Masters Program.
                                            <ul class="ul-class">
                                                <li>
                                                   <h4>
                                                      Duration : 9 months
                                                   </h4>
                                                </li>
                                                <li>
                                                   <h4>
                                                       Inclusions: 6 months Study + 3 month Internship
                                                   </h4>
                                                </li>
                                            </ul>
                                        </div>
                                      </div> -->
                                    </div>
                                    <!-- <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                            Collapsible Group 3</a>
                                          </h4>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse">
                                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                          commodo consequat.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                            Collapsible Group 3</a>
                                          </h4>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse">
                                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                          commodo consequat.</div>
                                        </div>
                                    </div> -->
                                </div>
                              
                            </div>
                            <div id="tab2" class="tab-pane fade ">
                                <div class="info title">
                                    
                                    <h4>Courses We Provide</h4>

                                </div>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                      <div class="panel-heading ">
                                        <h4 class="panel-title  ">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                            DATA SCIENCE MASTERS PROGRAMME
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse11" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p class="ul-class">
                                              A master’s degree is a path of higher education often pursued after an undergraduate degree. 
                                              A Master of data Science typically focuses on fields related to mathematics and sciences,
                                               but some universities could award this degree for something related to arts or humanities. 
                                               It is hard to pinpoint the cost of an MSc in Data Science because the location of a school,
                                                duration of a program and type of classwork can all play a role in the cost. 
                                              If you want to get an exact estimate, it is best to contact the university you hope to attend.
                                            </p>
                                            <p class="ul-class">
                                              With the knowledge gained from earning an MSc in Data Science, you might be prepared for a
                                               career as a high-ranking data scientist. However, this is not your only career option.
                                                Some scholars with this education have gone on to become professors, small business 
                                                owners and government officials. Information technology is a growing field that needs
                                                 people who know how to decode large piles of data.
                                            </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                                            PYTHON COURSE ML USING  MASTERS PROGRAMME
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse12" class="panel-collapse collapse">
                                        <div class="panel-body">                                      
                                          <p class="ul-class">
                                            Python programming language is a general-purpose, dynamic, high level, and powerful
                                            Programming Language. It supports Object Oriented programming ways to develop
                                            applications. It is effortless and straightforward to learn and provides lots 
                                            of high-level data structures. Python is simple to learn & powerful and versatile 
                                            scripting language, which creates it appealing for Application Development.
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                                            NLP  COURSE  MASTERS PROGRAMME
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse13" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <p class="ul-class">
                                            The Certification Path in NLP Practitioner Course is designed to provide participants with essential
                                             knowledge, skills and presuppositions to become an effective Practitioner of NLP.


                                          </p>
                                          <p class="ul-class">
                                            Through experiential activities, participants will find how to perceive and use essential examples
                                             of language, physiology and the sensory system to create capability with fundamental NLP training tools and techniques.
                                          </p>
                                          <p class="ul-class">
                                            Learn to read the language of the mind through Neuro-Linguistic Programming (NLP)
                                             in our expert NLP Practitioner Course. With serious preparing driven by our NLP
                                              master practitioner, you will change your own life, connections, just as your
                                            expert vocation. Our NLP training will also provide you with a methodology to create
                                             models for outstanding performance, personal development, and professional success.
                                          </p>
                                            
                                        </div>
                                      </div>
                                      
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                                            DEEP LEARNING   MASTERS PROGRAMME
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse14" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                          <p class="ul-class">
                                            Deep neural networks, identify key architecture parameters, & implement 
                                            efficient neural networks & deep learning to your applications Train test
                                            sets & analyze variance for DL applications, use standard techniques &
                                            optimization algorithms, & build neural networks in Tensor Flow Build 
                                            a CNN & apply it to detection & recognition tasks, use neural style transfer
                                            to generate art, & apply algorithms to image, video, & 2D/3D data Build
                                            & train RNNs, work with NLP & Word Embeddings, 
                                            & use HuggingFace tokenizers & transformer models to perform tasks like 
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                                            PYTHON DEVELOPER CERTIFICATION  MASTERS PROGRAMME
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse15" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <p class="ul-class">
                                            Python programming language is a general-purpose, dynamic, high level, and 
                                            powerful Programming Language. It supports Object Oriented programming ways 
                                            to develop applications. It is effortless and straightforward to learn and 
                                            provides lots of high-level data structures. Python is simple to learn & powerful 
                                            and versatile
                                            scripting language, which creates it appealing for Application Development.
                                          </p>
                                           
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                                            VISUAL ANALYTICS WITH TABLEAU  MASTERS PROGRAMME
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse16" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <p class="ul-class">
                                              In this course of the specialization, we’ll drill deeper into the tools 
                                              Tableau offers in the areas of charting, dates, table calculations and
                                              mapping. We’ll explore the best choices for charts, based on the type
                                              of data you are using. We’ll look at specific types of charts including 
                                              scatter plots, Gantt charts, histograms, bullet charts and several others,
                                              and we’ll address charting guidelines. We’ll define discrete and continuous
                                              dates, and examine when to use each one to explain your data. You’ll
                                              learn how to create custom and quick table calculations and how to
                                              create parameters. We’ll also introduce mapping and explore how Tableau
                                              can use different types of geographic data,
                                              how to connect to multiple data sources and how to create custom maps.
                                            
                                            </p>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                                            7.	Website Creation & Planning
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse17" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                 <h5>
                                                  •	Domain & Hosting
                                                 </h5>
                                              </li>
                                              <li>
                                                 <h5>
                                                  •	Graphic Creation
                                                 </h5>
                                                 
                                              </li>
                                              <li>
                                                  <h5>
                                                    •	E-Commerce Creation
                                                  </h5>
                                              </li>
                                              <li>
                                                  <h5>
                                                    •	App Creation
                                                  </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                  •	App Store Optimization
                                                </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                  •	Growth Hacking
                                                </h5>
                                              </li>
                                          
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">
                                            8.	Ecommerce Marketing
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse18" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                 <h5>
                                                  •	Affiliate Marketing
                                                 </h5>
                                              </li>
                                              <li>
                                                 <h5>
                                                  •	Remarketing
                                                 </h5>
                                                 
                                              </li>
                                              <li>
                                                  <h5>
                                                    •	Online Reputation Management
                                                  </h5>
                                              </li>                                           
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">
                                            9.	Lead Generation & Conversions
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse19" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                 <h5>
                                                  	Lead Generation & Conversions
                                                 </h5>
                                              </li>
                                             
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse20">
                                            10.	Agency Operation
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse20" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                              <li>
                                                Freelancing
                                              </li>
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse21">
                                            11.	Start-up Plans & Entrepreneurship
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse21" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                            <ul class="ul-class">
                                             
                                              <li>
                                                  <h5>
                                                  Start-up Plans
                                                  </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                   Entrepreneurship
                                                </h5>
                                            </li>
                                              
                                            </ul>
                                        </div>
                                      </div>
                                    </div> -->
                                    
                                </div>
                            </div>
                            
                            <div id="tab3" class="tab-pane fade">
                                <div class="info title">
                                    <div class="advisor-list-items">
                                        
                                        <!-- {foreach from=$instructors_details item=instructor_details} -->
                                        
                                        <h4>Top Opportunities</h4>
                                    <ul class="ul-class">
                                        <li>
                                           <h5>
                                            	DATA SCIENCE ANALYST
                                           </h5>
                                        </li>
                                        <li>
                                           <h5>
                                            	DATA SCIENCE ADMINISTATORS
                                           </h5>
                                           
                                        </li>
                                        <li>
                                            <h5>
                                              	PYTHON DEVELOPERS
                                            </h5>
                                        </li>
                                        <li>
                                            <h5>
                                              	NLP EXPERT AND PROFESSIONALS
                                            </h5>
                                        </li>
                                        <li>
                                            <h5>
                                              	PYTHON PROGRAMME EXPERTS
                                            </h5>
                                        </li>
                                        <li>
                                            <h5>
                                              	VISUAL ANAYTICS EXPERTS
                                            </h5>
                                        </li>
                                       
                                      </ul>
                                        
                                        <!-- {/foreach} -->
                  
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="tab-pane fade">
                              <div class="info title">
            
                                  <h4> 
                                    Minimum Qualification 
                                    <h5> 
                                      B.SC / B.C.A / B.TECH 
                                    </h5>
                                </h4>
                                <p>
                                  <h4>
                                    Suitable For 
                                    <h5>
                                      Fresher’s, Traditional Marketers, Entrepreneurs, Brand & Marketing Manager, Sales Professionals
                                    </h5>
                                  </h4>
                                 
                                    
                                  </p>
                             
                              </div>                                
                          </div>
                        </div>
                    </div>
                </div>
            </div>
<!--  -->
        
        </div>
    </div>
</div>
      
<%- include('./includes/footer')%>
  
  <script src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/equal-height.min.js"></script>
  <script src="/js/jquery.appear.js"></script>
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/modernizr.custom.13711.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/progress-bar.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/count-to.js"></script>
  <script src="/js/YTPlayer.min.js"></script>
  <script src="/js/loopcounter.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/bootsnav.js"></script>
  <script src="/js/main.js"></script>
  
  <script src="/js/generated/ready.js"></script>
  <script src="/js/generated/js_functions.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>