<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Academie</title>
    <link
      rel="shortcut icon"
      href="/media/logo/favicon.ico"
      type="image/x-icon"
    />
    <!-- <meta name="description" content="{$site_description}">
	<meta name="keywords" content="{$site_keywords}"> -->

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/flaticon-set.css" rel="stylesheet" />
    <link href="/css/themify-icons.css" rel="stylesheet" />
    <link href="/css/magnific-popup.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/bootsnav.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800"
      rel="stylesheet"
    />
    <link href="util/css/home.css" rel="stylesheet" />
    <link href="index.html" rel="stylesheet" />
  </head>

  <body style="background-color: #b5e9f1df">
    <%- include('./includes/header') %> <%- include('./includes/includeTiles')
    %>

    <div class="about-area default-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="about-items">
            <div class="col-md-12 about-info">
              <h2>Know Us</h2>
              <p>
                Under the flagship of Syolo Group, Accademie is introduced
                engaging into new dimension of education. The institute aspires
                qualified personnels to expand their credentials. Looking at the
                current requisite for professional learning, Accademie aims to
                impart study programmes for skilled mindsets. The courses are
                dedicated to a list of emerging industries globally. The
                establishment is thoughtfully designed & cultured by
                professionals serving acadamic industry for last 10 years.
                Through their accomplishment, the school takes the pride in
                indulging into education sector. The launched programmes are
                specialized in providing industry-specific courses. Precisely
                Accademie, a career oriented structure empowers employees to
                work and grow with diverse curriculam benificial in the
                professional world.The academy provides comprehensive training &
                guidance in the field of Travel, Retail Management,Digital
                Marketing & Human Resource Management.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./includes/footer') %>

    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/equal-height.min.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/modernizr.custom.13711.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/progress-bar.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/count-to.js"></script>
    <script src="/js/YTPlayer.min.js"></script>
    <script src="/js/loopcounter.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/bootsnav.js"></script>
    <script src="/js/main.js"></script>

    <script src="/js/generated/ready.js"></script>
    <script src="/js/generated/js_functions.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
