<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Academie</title>
    <link
      rel="shortcut icon"
      href="/media/logo/favicon.ico"
      type="image/x-icon"
    />
    <!-- <meta name="description" content="{$site_description}">
	<meta name="keywords" content="{$site_keywords}"> -->

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/flaticon-set.css" rel="stylesheet" />
    <link href="/css/themify-icons.css" rel="stylesheet" />
    <link href="/css/magnific-popup.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/bootsnav.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800"
      rel="stylesheet"
    />
    <link href="util/css/home.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/internship.css" />
  </head>

  <body style="background-color: #b5e9f1df">
    <%- include('./includes/header') %>

    <div class="row">
      <div class="col-md-12">
        <div
          style="background-color: #b5e9f1df; margin-top: 3%"
          class="panel panel-default Internship-panel"
        >
          <div class="panel-heading-Internship-header">
            <h3>PLACEMENT</h3>
          </div>
          <div class="panel-body" style="font-size: 2rem">
            <p class="Internship-overview">
              Considering the uncertain business environment, Academie indulges
              in providing placement assistance. After completion of the course
              tenure, students are prepared for campus drive recruitments. Here
              they gain competitive advantage over others by getting a chance to
              connect themselves with the best professionals of the world.
              Additionally the institution has strategic industry partnership
              with top business brands. This entails pursuing students to avail
              placement right at the campus door.
            </p>
            <!-- <div style="    box-shadow: 0 5px 30px 0 rgb(214 215 216 / 57%);
                  ">
                        <h3 style="margin-left: 1vw;">Academie Internship Benefits </h3>:
                        <ul class="ul-class">

                            <li>
                                Enhance applied learning
                            </li>
                            <li>
                                Explicit Industry- based training modules
                            </li>
                            <li>
                                Acquire global competency
                            </li>
                            <li>
                                Skilled professional culture
                            </li>
                            <li>
                                Association with prestigious organizations
                            </li>
                            <li>
                                Earn stipend with education
                            </li>
                        </ul>
                    </div> -->
            <p>
              Academie functions as a Placement coordinator on behalf of
              students & Placement companies. Through this bilateral synergy
              both students & recruitment companies gain uniform advantage. Our
              services are systematically dedicated to work for the welfare of
              students as well as for the hiring company. The ideology is to
              bridge the gap between education & job. Hence the students get an
              opportunity to select
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-3">data</div> -->

    <%- include('./includes/footer') %>

    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/equal-height.min.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/modernizr.custom.13711.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/progress-bar.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/count-to.js"></script>
    <script src="/js/YTPlayer.min.js"></script>
    <script src="/js/loopcounter.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/bootsnav.js"></script>
    <script src="/js/main.js"></script>

    <script src="/js/generated/ready.js"></script>
    <script src="/js/generated/js_functions.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
