<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Academie</title>
    <link
      rel="shortcut icon"
      href="/media/logo/favicon.ico"
      type="image/x-icon"
    />
    <!-- <meta name="description" content="{$site_description}">
	<meta name="keywords" content="{$site_keywords}"> -->

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/flaticon-set.css" rel="stylesheet" />
    <link href="/css/themify-icons.css" rel="stylesheet" />
    <link href="/css/magnific-popup.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/bootsnav.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800"
      rel="stylesheet"
    />
    <link href="util/css/home.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/internship.css" />
  </head>

  <body style="background-color: #b5e9f1df">
    <%- include('./includes/header') %>

    <div class="row">
      <div class="col-md-12">
        <div
          style="background-color: #b5e9f1df"
          class="panel panel-default Internship-panel"
        >
          <div class="panel-heading-Internship-header">
            <h3 class="">PROCEDURE</h3>
          </div>

          <div class="panel-body text-center">
            <p class="Internship-overview">
              The process to enrolWl with us is very simple & manageable.
              Candidates interested to pursue career with Accademie can follow
              three easy steps.
            </p>

            <!-- <div class="row">
                        <div class="Internship-Benefits-list benifits-list"> -->
            <!-- <h3 style="color: black;
                            margin-left: -1vw;">Academie Internship Benefits </h3> -->
            <!-- <ul class="ul-class">
                                <li>
                                    Search desired Industry from the courses page
                            </li>
                            <li>
                                Select program to pursue
                            </li>
                            <li>
                                 Online Submit application by filling the student detail form
                            </li>
                            <li>
                                Pay Online to secure seats
                            </li>
                            <li>
                                That’s done!
                            </li>
                            
                        </ul>
                      </div>
                    </div> -->
            <div class="row">
              <div class="img-container">
                <img
                  src="/media/images/admissionProcedure.png"
                  alt="admissionProcedure"
                  class="img-fluid"
                />
              </div>
            </div>
            <p>
              Considering the present situation outdoor, we are more emphasized
              to work virtually. So in order to ease the procedure, every
              details & forms are made available on our website. Simply
              download, fill & submit at the respective mentioned locations or
              directly drop mail at info@syologroup.com.
            </p>
            <P>
              On receiving any query or payment confirmation along with student
              detail form; our team eventually connects to provide further
              assistance. Anything above or after this are managed by our
              service team who are readily available to guide
              students/professionals.
            </P>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-3">data</div> -->

    <%- include('./includes/footer') %>

    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/equal-height.min.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/modernizr.custom.13711.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/progress-bar.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/count-to.js"></script>
    <script src="/js/YTPlayer.min.js"></script>
    <script src="/js/loopcounter.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/bootsnav.js"></script>
    <script src="/js/main.js"></script>

    <script src="/js/generated/ready.js"></script>
    <script src="/js/generated/js_functions.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
