<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Academie </title>
    <link rel="shortcut icon" href="/media/logo/favicon.ico" type="image/x-icon">
	<!-- <meta name="description" content="{$site_description}">
	<meta name="keywords" content="{$site_keywords}"> -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon-set.css" rel="stylesheet">
    <link href="/css/themify-icons.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/bootsnav.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
    <link href="util/css/home.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
  <%- include('./includes/header')%>
  

<div class="course-details-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="courses-info">
                    <h2>
                        
                    </h2>
                    <div class="course-meta" >
                      <div class="align-left" >
                        <h2 style="margin:0px;padding:0px;">  
                         RETAIL MAINAGEMENT
                        </h2>
                      </div>
                      <div class="align-right">
                        <a class="btn btn-theme effect btn-sm" href="enrollNow.html">
                          <i class="fas fa-chart-bar"></i> Enroll
                        </a>
                      </div>
                    </div>
                    <img src="/media/images/courses/retail.jpg" alt="Thumb">
                    <div class="tab-info">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1" aria-expanded="true">
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2" aria-expanded="false">
                                    Course Curriculum
                                </a>
                            </li>
                            <li>
                              <a data-toggle="tab" href="#tab4" aria-expanded="false">
                                  Eligiblity
                              </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab3" aria-expanded="false">
                                    opportunity
                                </a>
                            </li>
                            
                        </ul>
                        <div class="tab-content tab-content-info">
                            <div id="tab1" class="tab-pane fade active in">
                                <div class="info title">
                                    <h4>About The Course</h4>
                                    <P>
                                           Categorized under general management field, Retail Management is a unique course.
                                           Not everyone can pursue Retail Management. Its line of operation extends towards 
                                           merchandise monitoring, vendor administration, inventory supervision & customer
                                           service. Applicants who strive to build a career as Retail Sales associate,
                                           Warehouse Manager, Store Manager or Customer-support Executive. Retail Management
                                           is a diversified course where several other management courses correspond with
                                           each other. Other disciplines spanning from business, international business
                                           marketing, logistics and supply chain management along with operations 
                                           management are closely interconnected. So, you earn a single degree with ample
                                           of learning in various sectors.
                                          
                                      </P>
                                      <p>
                                        Since the prevailing competitive retail market in India & globally, the need for 
                                        skilled Retail managers has double-folded. 
                                        This tremendous growth has eventually turned drastic retail job opportunities worldwide. 
                                      </p>
                                      <p>
                                        Accademie fosters cross-functional learning through its Retail Management program. 
                                        Our courses validate applicants to stay updated 
                                        with recurring and upcoming business trends in the field. The course has two major programs
                                      </p>
                                      
                         
                                  </div>
                                  <div class="panel-group" id="accordion">
                                      <div class="panel panel-default">
                                        <div class="panel-heading ">
                                          <h4 class="panel-title  ">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                1.	Diploma in Retail Management
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse active in">
                                          <div class="panel-body">
                                              <p>
                                                A short-term course on Retail will elaborate candidates on elementary Retail Management, 
                                                Vending points, Daily Operations in store/department &Trade Merchandizing. Students
                                                 will learn on practical modules which boost sales by anticipating demand over supply.
                                                  </p>
                                             <ul class="ul-class">
                                                 <li>
                                                    <h4>
                                                       Duration: 7 Months
                                                    </h4>
                                                 </li>
                                                 <li>
                                                    <h4>
                                                        4 Months Study + 3 Months Internship
                                                    </h4>
                                                    
                                                 </li>
                                             </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            2.	Post-graduate Diploma in Retail Management
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <p>  Master your retail skills through our post-graduate certification. A comprehensive study 
                                              on Retail Management is offered through Accademie where students acquire leadership & 
                                              communication expertise as an additional benefit of the course. 
                                              The higher degree emphasizes on overall personality development 
                                              of the student along with in-depth knowledge on work culture at variety of retail set-ups.
                                           </p>
                                          <ul class="ul-class">
                                            <li>
                                               <h4>
                                                    Duration: 15 Months
                                               </h4>
                                            </li>
                                            <li>
                                               <h4>
                                                    Inclusions: 12 Months Study + 3 Months Internship
                                               </h4>
                                               
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    
                                    <!-- <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                            Collapsible Group 3</a>
                                          </h4>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse">
                                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                          commodo consequat.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                            Collapsible Group 3</a>
                                          </h4>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse">
                                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                          commodo consequat.</div>
                                        </div>
                                    </div> -->
                                </div>
                              
                            </div>
                            <div id="tab2" class="tab-pane fade ">
                                <div class="info title">
                                    <h4>Course Curriculum</h4>
                                    <P>
                                         The course is designed to facilitate a list of 50 module learning. Each module has note
                                         based study content paired with assignments. It encourages students to implement acquired
                                         knowledge with little efforts.  
                                        
                                    </P>
                                    <h4>Skills You Learn</h4>
                                    <ul class="ul-class">
                                        <li>
                                           <h5>
                                                Leadership
                                           </h5>
                                        </li>
                                        <li>
                                           <h5>
                                                Decision-Making Skills
                                           </h5>
                                           
                                        </li>
                                        <li>
                                            <h5>
                                                Marketing Strategy
                                            </h5>
                                        </li>
                                        <li>
                                            <h5>
                                               Inventory Management
                                            </h5>
                                        </li>
                                        <li>
                                            <h5>
                                               Merchandise
                                            </h5>
                                        </li>
                                        <li>
                                            <h5>
                                                Sales & Customer-Service
                                            </h5>
                                        </li>
                                      </ul>

                                </div>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                      <div class="panel-heading ">
                                        <h4 class="panel-title  ">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                            1.	Retail Management
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse11" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                    	Basics of Retailing
                                                   </h5>
                                                </li>
                                                <li>
                                                   <h5>
                                                    	Basics of Retailing
                                                   </h5>
                                                   
                                                </li>
                                                <li>
                                                    <h5>
                                                       	Benefits of Retailing
                                                    </h5>
                                                </li>
                                              </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                                            2.	Components of Retailing 
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse12" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                        Classification of Retailers
                                                   </h5>
                                                </li>
                                                <li>
                                                   <h5>
                                                        Retailing Concept
                                                   </h5>
                                                   
                                                </li>
                                                <li>
                                                    <h5>
                                                       Retail Strategy & Planning
                                                    </h5>
                                                </li>
                                                <li>
                                                    <h5>
                                                       Retail Selling Process
                                                    </h5>
                                                </li>
                                                
                                              </ul>
                                        
                                          
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                                            3.	Important Aspects in Retailing
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse13" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                        Location 
                                                   </h5>
                                                </li>
                                                <li>
                                                   <h5>
                                                        Types of retail Location
                                                   </h5>
                                                   
                                                </li>
                                                
                                              </ul>
                                            
                                        </div>
                                      </div>
                                      
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                                            4.	Franchising
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse14" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                       Franchising
                                                   </h5>
                                                </li>
                                             
                                              </ul>
                                          
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                                            5.	Merchandising
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse15" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                    	Virtual Merchandising
                                                   </h5>
                                                </li>
                                                
                                              </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                                            6.	Private Label
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse16" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="ul-class">
                                                <li>
                                                   <h5>
                                                    	Creation Process of Private Label
                                                   </h5>
                                                </li>
                                       
                                              </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                                                7.	Myths about Retailing Career
                                           </a>
                                          </h4>
                                        </div>
                                        <div id="collapse17" class="panel-collapse collapse">
                                          <div class="panel-body">
                                              <ul class="ul-class">
                                                  <li>
                                                     <h5>
                                                         Myth 1
                                                     </h5>
                                                  </li>
                                                  <li>
                                                     <h5>
                                                          Myth 2
                                                     </h5>
                                                     
                                                  </li>
                                                  <li>
                                                      <h5>
                                                          Myth 3
                                                      </h5>
                                                  </li>
                                                </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">
                                                8.	Tips for Successful Retailing
                                           </a>
                                          </h4>
                                        </div>
                                        <div id="collapse18" class="panel-collapse collapse">
                                          <div class="panel-body">
                                              <ul class="ul-class">
                                                  <li>
                                                     <h5>
                                                         Tips 1
                                                     </h5>
                                                  </li>
                                                  <li>
                                                    <h5>
                                                        Tips 2
                                                    </h5>
                                                 </li>
                                                </ul>
                                          </div>
                                        </div>
                                      </div>
                                    
                                </div>
                            </div>
                            
                            <div id="tab3" class="tab-pane fade">
                                <div class="info title">
                                    <div class="advisor-list-items">
                                        
                                        <!-- {foreach from=$instructors_details item=instructor_details} -->
                                        
                                        <h4>Top Opportunities</h4>
                                        <ul class="ul-class">
                                            <li>
                                               <h5>
                                                Floor Executives/Manager
                                               </h5>
                                            </li>
                                            <li>
                                               <h5>
                                                Lobby Managers
                                               </h5>
                                               
                                            </li>
                                            <li>
                                                <h5>
                                                  Sales/Marketing Manager
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                  Retail Manager
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                  Supply Chain Distributor
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                  Customer Care Executives
                                                </h5>
                                            </li>
                                          </ul>
                                        
                                        <!-- {/foreach} -->
                  
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="tab-pane fade">
                              <div class="info title">
                               
                                 
                                  <P>
                                    <h4> 
                                        Minimum Qualification : 
                                        <h5> 
                                            Bachelors or equivalent degree in any discipline
                                        </h5>
                                    </h4>
                                    </P>
                                  <h4>
                                    Suitable For <h5>
                                        10+2 pass outs, job seekers, Logistic Managers, Warehouse/Store Supervisors 
                                      </h5>
                                  </h4>
                                  
                             
                              </div>                                
                          </div>
                        </div>
                    </div>
                </div>
            </div>
<!--  -->
        
        </div>
    </div>
</div>
      
<%- include('./includes/footer')%>
  
  <script src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/equal-height.min.js"></script>
  <script src="/js/jquery.appear.js"></script>
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/modernizr.custom.13711.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/progress-bar.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/count-to.js"></script>
  <script src="/js/YTPlayer.min.js"></script>
  <script src="/js/loopcounter.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/bootsnav.js"></script>
  <script src="/js/main.js"></script>
  
  <script src="/js/generated/ready.js"></script>
  <script src="/js/generated/js_functions.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>