<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Academie</title>
    <link
      rel="shortcut icon"
      href="/media/logo/favicon.ico"
      type="image/x-icon"
    />
    <!-- <meta name="description" content="{$site_description}">
	<meta name="keywords" content="{$site_keywords}"> -->

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/flaticon-set.css" rel="stylesheet" />
    <link href="/css/themify-icons.css" rel="stylesheet" />
    <link href="/css/magnific-popup.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/bootsnav.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800"
      rel="stylesheet"
    />
    <link href="util/css/home.css" rel="stylesheet" />
  </head>

  <body class="background-color-accidental">
    <%- include('./includes/header') %>

    <!-- Enroll Now -->
    <div class="container-fluid">
      <div
        class="acrediation"
        style="padding-left: 10vw; padding-top: 2vw; padding-right: 10vw"
      >
        <hr
          class=""
          style="
            margin-top: 3rem;
            border-top: 3px solid rgba(255, 255, 255, 0.726);
          "
        />

        <div class="row">
          <h1 class="text-center text-black" style="text-transform: uppercase">
            students
          </h1>
        </div>
        <div class="row" style="font-size: 1.5rem background-color-acccidental">
          <p class="content" style="font-size: 16px; text-align: center">
            Academie is an institutional platform accessible to deliver plethora
            of domain specific courses for graduates as well as for
            professionals. We offer regular virtual classes based on students
            time and course preference. Interested candidates can fill in
            details to know further on course, customized course, schedules or
            many more course related information.
          </p>
        </div>
        <div class="row" style="padding-top: 0rem">
          <div class="col-sm-4 col-sm-offset-4 text-center">
            <a
              class="animation"
              data-toggle="collapse"
              href="contactUs.html"
              data-target="#news3"
              style="width: 100%"
            >
              <div class="meta hover-pointer text-center" s>Enquire Now</div>
            </a>
          </div>
        </div>

        <div class="row" style="margin-top: 3vw">
          <h1 class="text-center text-black" style="text-transform: uppercase">
            Admission
          </h1>
        </div>
        <div class="row" style="font-size: 1.5rem background-color-acccidental">
          <p class="content" style="font-size: 16px; text-align: center">
            For admission, new students must enroll below. Also existing
            students who intend to acquire admission in any additional courses,
            must Enroll here!
          </p>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 text-center">
            <a
              class="animation"
              data-toggle="collapse"
              href="enrollNow.html"
              data-target="#news3"
              style="width: 100%"
            >
              <div class="meta hover-pointer text-center" s>Enroll Now</div>
            </a>
          </div>
        </div>
        <div
          class="row"
          style="
            padding-top: 3vw;
            font-size: 1.5rem background-color-acccidental;
          "
        >
          <p class="content" style="font-size: 16px; text-align: center">
            Students already enrolled with Academie avail a unique benefit of
            LMS application. The integrated learning system features access to
            virtual classroom, study collaterals, videos and quick dashboard
            management.
          </p>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 text-center">
            <a
              class="animation"
              data-toggle="collapse"
              href="https://www.studde.com"
              data-target="#news3"
              style="width: 100%"
            >
              <div class="meta hover-pointer text-center" s>LMS Login</div>
            </a>
          </div>
        </div>
        <hr
          class="p-3-rem"
          style="
            margin-top: 1vw;
            border-top: 3px solid rgba(255, 255, 255, 0.726);
          "
        />
      </div>
      <!-- Enroll Now -->
    </div>
    <!-- FAQ -->
    <div class="faq-container" style="padding-left: 10vw; padding-right: 10vw">
      <div class="row" style="padding-bottom: 1vw">
        <h1 class="text-black text-center">Frequently Asked Questions</h1>
      </div>

      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          1. How does the franchise model start and what background of team is
          required?
        </h4>
        <p class="content" style="font-size: 16px">
          Finding the perfect match requires not only that you feel the
          franchisor has adequate experience, but that you identify with the
          fundamentals of the business.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          2. What are your criteria for choosing a franchisee?
        </h4>
        <p class="content" style="font-size: 16px">
          Franchisors typically have a list of qualifications and personality
          traits that fit best with their brand. It’s important to investigate
          those criteria and determine whether you feel your personality and
          skill set fit within the system.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          3. How much do I have to invest to become a franchisee?
        </h4>
        <p class="content" style="font-size: 16px">
          The initial investment for starting a franchise is 50000 INR. Be sure
          to discuss these items in depth with the franchisor so that you have a
          clear understanding of your investment and what you will need
          financially to get up and running.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          4. How much liquid capital will need to maintain to cover the
          franchise until it breaks even?
        </h4>
        <p class="content" style="font-size: 16px">
          Aside from the initial start-up costs, franchisees need enough
          operating capital for the first several months until the business
          breaks even, so it’s important to find out the average amount of time
          it takes most franchisees to start turning a profit so that you can be
          financially prepared.
        </p>
      </div>

      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          5. What are the ongoing fees? How do your royalties and marketing fees
          work?
        </h4>
        <p class="content" style="font-size: 16px">
          Take time to help understand your ongoing financial obligations to the
          franchisor including whether or not you are obligated to pay royalty
          or other ongoing fees such as for advertising. Understanding this is
          essential for managing the financial health of your business.
        </p>
      </div>

      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          6. How many other locations are there and what is your success rate?
        </h4>
        <p class="content" style="font-size: 16px">
          The number of units a franchisor owns determines their size, but not
          necessarily their success.
        </p>
      </div>

      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          7. Are the franchisees receiving ample support?
        </h4>
        <p class="content" style="font-size: 16px">
          A large franchisor may be spread too thin while an upcoming franchisor
          may not have enough resources. Ask what the success rate among their
          franchisees is and what the reasons are for failed units.
        </p>
      </div>

      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          8. How much money can I make?
        </h4>
        <p class="content" style="font-size: 16px">
          Though a franchisor can’t predict your individual success, they should
          have a good idea about what a typical franchisee earns and your income
          potential. Be aware that the franchisor may offer information
          regarding gross sales which don’t include expenses for rent and other
          operating costs.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          9. What sets you apart from your competitors?
        </h4>
        <p class="content" style="font-size: 16px">
          While the market for some brands is highly competitive and saturated,
          others are more innovative and unique. Put up questions like where
          does the brand fall along the spectrum, what is the level of
          competition in the market or who are the top competitors? Ask the
          franchisor about their unique selling points and their advantages over
          the competition.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          10. What support do you offer beyond the initial training?
        </h4>
        <p class="content" style="font-size: 16px">
          Most franchisors offer initial training to get your business up and
          running accompanied by several ongoing supports. Discuss with
          franchisee team to know in details about staffing, advertising,
          training opportunities, on-site assistance, etc.
        </p>
      </div>

      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          11. How do you resolve disagreements or disputes?
        </h4>
        <p class="content" style="font-size: 16px">
          An important part of due diligence is investigating the franchisor’s
          litigation history. Franchisee team will resolve queries related to
          process handling disputes, franchisee agreement disputes or any
          termination of contract.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          12. What are the expectations of your franchise owners?
        </h4>
        <p class="content" style="font-size: 16px">
          As a franchisee there are many expectations placed on you regarding
          payments, operations and other obligations depending on the franchise
          agreement. It’s important to have a discussion with the franchisor to
          gain a clear understanding surrounding what is required from you as a
          unit operator.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          13. What will my territory be and how will it be protected?
        </h4>
        <p class="content" style="font-size: 16px">
          To learn how the franchisor manages territories for its franchisees
          and what rights you have under the agreement, franchisor reserved
          right to approve the location, exclusive or protected territory,
          protection from competing units etc needs to be clarified before
          undergoing an agreement.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          14. What kind of input will I have in marketing and advertising?
        </h4>
        <p class="content" style="font-size: 16px">
          You will be obligated to contribute to a local, regional and/or
          national advertising fund as part of your agreement and franchisee
          fee. The franchisor will assist in organic digital marketing and
          advertising.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          15. What does the franchise fees include?
        </h4>
        <p class="content" style="font-size: 16px">
          It includes getting associated with the brand and using the brands
          name as a franchise.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          16. Can I buy more than one franchise?
        </h4>
        <p class="content" style="font-size: 16px">
          Yes you can. Once you are settled in 1st store you can go for 2nd
          store.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          17. What is the training process of franchise?
        </h4>
        <p class="content" style="font-size: 16px">
          Franchises are given 3 days class room training.
        </p>
      </div>
      <div class="row" style="padding-top: 1vw; padding-bottom: 1vw">
        <h4 class="text-black" style="text-align: left">
          18. How many staffs are needed to manage the center and salaries?
        </h4>
        <p class="content" style="font-size: 16px">
          In initial stage 2 staffs will be required. Salary ranging from 8000-
          15000 INR. Every franchise is different and it’s important to know
          exactly what & why you’re buying franchise.
        </p>
      </div>
    </div>
    <!-- End of FAQ -->

    <%- include('./includes/footer') %>

    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/equal-height.min.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/modernizr.custom.13711.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/progress-bar.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/count-to.js"></script>
    <script src="/js/YTPlayer.min.js"></script>
    <script src="/js/loopcounter.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/bootsnav.js"></script>
    <script src="/js/main.js"></script>

    <script src="/js/generated/ready.js"></script>
    <script src="/js/generated/js_functions.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
