<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Academie </title>
    <link rel="shortcut icon" href="/media/logo/favicon.ico" type="image/x-icon">
	<!-- <meta name="description" content="{$site_description}">
	<meta name="keywords" content="{$site_keywords}"> -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon-set.css" rel="stylesheet">
    <link href="/css/themify-icons.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/bootsnav.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
    <link href="util/css/home.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>

<body class="background-color-accidental">
    <%- include('./includes/header') %>
  
  <div class="container-fluid p-9-rem">
    <div class="acrediation  ">
        <div class="row">
             <h1 class="text-center text-black"  style="text-transform: uppercase;"> 
                 Term & Condition
             </h1>
        </div>
        <div class="row " style="padding-left: 6rem; padding-right:6rem ; font-size: 1.5rem background-color-acccidental;">
          
                    <b>PLEASE READ THE TERMS AND CONDITIONS CAREFULLY BEFORE APPLYING FOR ACADEMIE FRANCHISE. </b>YOU MUST AGREE TO ABIDE BY ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT.
Your access to and use of all the services is conditioned on your acceptance of and compliance with these terms. These terms apply to all visitors, users and others who access or use the services of this website.
By accessing or using the services, you agree to be bound by these Terms. If you disagree with any part of the terms then legally you cannot access the services provided by ACADEMIE.
These terms of Franchise Agreement governs the use of this website www.ACADEMIE.in registered under All India Council for Professional Excellence, hereinafter referred to as the “Franchiser” offer for the franchise through this website.
 
This Agreement includes and incorporates, by this reference the policies and guidelines referred below. The ACADEMIE reserves the right to add, update, delete, and change the terms and conditions of this Agreement at any time by posting any changes or a revised Agreement on this Website. The ACADEMIE will alter the changes or revisions have been made, by indicating on the top of this Agreement the date it was last revised. The Change or revised Agreement will be effective immediately after it is posted on this website. Your use of the website following the posting of any such changes or of a revised agreement will constitute your acceptance of any such changes or revisions. The ACADEMIE encourages you to review this Agreement whenever you visit the website to make sure that you understand the terms and conditions governing use of the website. This agreement does not alter in any way the terms and conditions of any other written agreement you may have with ACADEMIE. If you do not agree to this agreement (including any refereed policies or guidelines), please immediately terminate your use of the website. If you would like to print this agreement please click the print button on your browser toolbar or print it by any other method.
 
INTRODUCTION
 
A]        The Franchiser is an ISO 9001 certified business organization, and is in business of Designing and Development of Short Term Skill Development Courses and Programs (hereinafter referred to as the “Said Course Material”) and provide training of such courses to aspiring students, professionals, employees, entrepreneurs and freelancers through its Franchisee outlets (Authorised Training Centres) on a national basis; Training, Conducting Competitions, Examinations, Certification and Franchisee Network Development are also the part of franchiser’s business.
 
B]         The list of Said Course Material with the detailed syllabus of each course is available on the website under “Courses” menu.
 
C]        The Franchisee is in business of conducting professional, non-professional and Vocational training to its students being students, professionals, employees, entrepreneurs and freelancers through its Franchisee outlets (Authorised Training Centres) on a national basis.
 
D]        The Franchiser has agreed to grant a Franchise to the Franchisee to conduct, manage and operate the Said Course Material as per the terms and conditions contained herein.
 
TERMS OF OFFER

1.	The Franchisee/ you warrant and represent to the Franchiser that you are a company/ firm / organization, validly existing, having a good standing under laws of India and as such has all requisite power and authority to enter into this agreement with the Franchiser on terms and conditions herein contained.
2.	You are hereby allowed, after approval of your franchisee, the right to use and share the Said Course Material designed by the Franchiser for its professional business purposes to provide professional training to its students at your institute, according to the syllabus provided for the said course by franchiser.
3.	After registering on this website you will receive an email on your registered mail ID containing login details. You are required to login by these details and you are required to upload scanned documents, personally related to you and the registered institute and intimate the ACADEMIE through email or phone call. The ACADEMIE shall approve the franchisee on satisfactory observation of uploaded documents and all the features of the online web portal shall be made available for further use to the franchisee.
4.	The ACADEMIE has adopted online procedure for its conduct of business in view to save papers and offers to enter into online agreement to its users. The agreement contains all the terms and conditions of its business.
5.	The Franchisee is not allowed to enter into or carry out similar business or the like with competitors or otherwise after signing the documents and entering into agreement with ACADEMIE.
6.	The Franchiser allows the Franchise to select and pick some or all courses from the said course material designed and developed by Franchiser in order to admit students for the selected courses; it is for the franchisee to decide and charge for tutelage as he deems fit.
7.	It is the sole responsibility of franchisee to decide and charge the fee from students to be retained by him; also the franchisee is required to pay the taxes on such amount collected from students as per Indian Laws. ACADEMIE will not be responsible to pay or refund, for any collected fee and /or taxes, applicable to the franchisee in any condition.
8.	The Franchisee shall be solely responsible (whether it is required to specify the requirement of infrastructure, software, hardware, staff, tools, etc.) towards conducting and sharing of the said course material with its students. It is responsibility of franchisee to purchase/lend and maintain the requirements at its own cost. ACADEMIE will not bear any cost for the same, whatsoever.
9.	ACADEMIE offers many professional skill development short term courses for students and franchisee business. It is for the Franchisee to decide and choose which among these courses they wish to introduce and conduct in their own institute. Franchisee is allowed to pick only those courses for which they have the required infrastructure in terms of software, hardware, trainers, equipment’s, tools, etc. At the same time franchisee is also allowed to choose identical courses affiliated to other institute if they are in direct competition with what they have applied for in ACADEMIE.  
10.	The Franchisee will keep providing the said course material within purview of this agreement through their outlets exclusively and will not enter into direct agreements with any other service providers, aggregators, distributers or any similar entity in India or abroad for this purpose for the duration of this agreement.
11.	The intellectual property rights in the said course material and the name ACADEMIE shall rest with the franchisor and the franchisee will not be entitled to amend or alter anything. The franchisee shall only act as a distributor of the said course material provided by the franchisor i.e. ACADEMIE.
12.	The syllabus for each course shall be prescribed by ACADEMIE; whereas infrastructure & trainers required for imparting the course is to be arranged and maintained by the Franchisee at their own cost.
13.	The franchisee shall not give any exaggerated or false commitment or information with regard to ACADEMIE to any student. The Franchisee will be solely responsible for any such act or consequence of the same, ACADEMIE takes no responsibility of such act.
14.	The franchise shall be responsible for completing the syllabus and training of the student, failing which, franchisee is solely responsible for all the losses caused owing to noncompliance.
15.	It is for the franchisee to decide the fee structure for each course. ACADEMIE advises and expects from franchisee to charge fair for the courses and nothing beyond. This amount collected by way of fee will be considered as income of the franchisee. ACADEMIE will charge the Website Management Fee, and Examination fee on per student basis.
16.	It is expected that the best services and trainings shall be provided to the student in order to maintain the brand value of the ACADEMIE in all respect.
17.	In case of refund of fees to the student for any reason, the Franchisee shall alone be responsible for the same. 
18.	The Franchisee warrants to and shall keep all information exchanged with the franchisor of confidential nature in whatever form as strictly confidential and shall not disclose it to third parties, without prior written consent of the franchisor during the term of this agreement.
19.	The franchisor, i.e. ACADEMIE shall not be liable in any way to any third party for any incidental, special, indirect or consequential damages arising out of or relating to this agreement. The franchisee shall be solely responsible for any distribution, dissemination and sharing of the course material under this agreement.
20.	During the course and training, franchisee shall provide information regarding practical knowledge and shall encourage students to set up their own business.
21.	The franchisee shall be responsible for admission and registration of the student.
22.	It is the franchisee’s responsibility to give training to Students.
23.	The franchisee is facilitated with all the facilities on ACADEMIE’s official website login, related to registration of the student, for conducting exams, and more.
24.	The Parties to this agreement shall conduct their business at all times in accordance with the applicable status, regulations, notification etc. issued by the government or any statutory authority.
25.	The Franchisee is responsible for providing correct data of students enrolled with their institute to the ACADEMIE. The Franchisee is solely responsible for consequences or loss of having provided wrong data of the students knowingly or unknowingly.
26.	The Franchisee shall verify photographs of each and every student. The students’ data and photograph will be printed on the Certificate issued by ACADEMIE. ACADEMIE will also print the Photo ID Number if provided by franchisee.
27.	The Franchisee is authorized to use ACADEMIE as a brand name for marketing the courses. The endeavor shall be made by the franchisee that the brand name is not used to mislead anyone on account of ACADEMIE, and that its brand image shall not be affected adversely in any way.
28.	The ACADEMIE shall charge nominal examination fee which includes student registration process, fees management system, online examination, paper based examination, offline or practical examination and other such services. Towards ACADEMIE Payment - the Franchisee may charge the fees from students only to the extent to which the amount has to be paid to ACADEMIE or the said fee may be borne by franchisee out of the course fee collected by him. In any case, the labiality of ACADEMIE is limited to the maximum extent of amount collected.
29.	The Franchisee is bound to deposit a bulk amount in Wallet, available in the ACADEMIE Franchisee Login. The said amount can be only utilized to avail services from ACADEMIE by the franchisee itself and won’t be refunded under any circumstances. In some instances, the amount is auto debited from wallet based on the use of services. 
30.	On the basis of online available data, information or data provided by the franchisee in any other format, clearly understood by franchisor, ACADEMIE Certificate is prepared and sent on the registered address of the franchisee by speed post at the earliest.
31.	The Franchisee shall intimate ACADEMIE in the eventuality of changes in postal or email address.
32.	In case the franchisee wants to discontinue for any reason whatsoever, or wishes to terminate contract, they are obliged to communicate the same to the ACADEMIE by way of letter or Email; in the absence of which it is considered that Franchisee is active and operating.
33.	The ACADEMIE does not make any business commitment, job commitment, payment guarantee, marketing commitment to any student. If the Franchisee makes any such claims or promise he shall be solely responsible for it and consequences arising thereof.
34.	It is compulsory for franchisee to conduct student’s examination through the system and facilities provided by ACADEMIE; if student fails in the examination, the Franchisee reserves the right to conduct the re-examination. The Franchisee shall submit data only in respect of the student who have cleared the examination. The franchisee shall provide training to the students who have failed in the examination and shall help and guide them to clear in the examination.
35.	It is assumed by ACADEMIE that the franchisee shall not indulge in any malpractice for passing the students. It is harmful for the image of the Franchisee as well as the ACADEMIE.
36.	The franchisee shall take required initiative for securing jobs or guide students to start business, if they seek, as per capability and eligibility of student. Franchisee shall not commit for any job or business success.
37.	To help franchisee in better way, Franchisor reserves the right to use the Login Panel of Franchisee and perform necessary changes, without any pre-permission of franchisee.
38.	All information regarding ACADEMIE has been published and updated from time to time on the official website of ACADEMIE. Franchisee is required to provide all the information about ACADEMIE to student before admitting them for any course and insist they go through the official website of ACADEMIE.
39.	The Certificate issued by the ACADEMIE can be validated and verified through the number printed on the Certificate on the official website.
40.	The Examination shall be conducted and certificate will be issued only for those students who have enrolled in the ACADEMIE course.
41.	The students who have taken admission at franchisee outlet for courses other than ACADEMIE courses, and have registered themselves on the website of ACADEMIE for NON-ACADEMIE Courses, can also have their own login ID and browse the details. This is a free service provided by ACADEMIE to its students.
42.	The ACADEMIE reserves right to send SMS, EMAIL or Communicate through any other way, at any time related to course matter. The Franchisee must take an acceptance for this commitment from students at the time of admission.
43.	The ACADEMIE shall forward the certificate of students to the Franchisee, and Franchisee in turn shall be responsible for handing it over to the students. The Franchisee shall also provide postal charges to the ACADEMIE.
44.	The ACADEMIE has adopted online examination method and can conduct exam throughout the year.
45.	The ACADEMIE has secured its data by taking backup. However, ACADEMIE is not responsible for any damage to the data. The Franchisee is requested to keep all the data with them in any other format they deem suitable, which can be easily accessed by them. 
46.	The Franchisee shall buy the best, high speed internet connection from reliable service provider at his own cost to provide best education and training to students without obstacles and hindrance.
47.	Notwithstanding anything contained herein, the franchisor shall be entitled to terminate this agreement, with immediate effect upon happening of any breach or violation of any of the terms and conditions of this agreement by the franchisee without prior notification.  
48.	Any dispute, controversy, or claim arising out of or relating to this agreement or the breach termination or the invalidity thereof, shall be settled by arbitration in accordance with the provisions of Arbitration and Conciliation Act, 1996. The Award of the Arbitral Tribunal shall be final, conclusive and binding upon the parties in accordance with the provisions of Arbitration and Conciliation Act, 1996.
49.	In case of any change in the terms and conditions due to change in the circumstances shall be considered as by default.
50.	The ACADEMIE is neither running any government scheme nor taking any government grant. ACADEMIE is a self-dependent, self-organized organization in the business of designing courses for students. The ACADEMIE does not take responsibility that the certificate issued by it shall be accepted by any government organizations or business organization. The aim of the ACADEMIE is to relevant proper training to the students with the help of franchisee network. The ACADEMIE issues the certificate as well as mark sheet for some courses.
BY USING THIS WEBSITE YOU AGREE TO BE ABIDE BY ALL THE TERMS AND CONDITIONS OF THE AGREEMENT.


                </p>
            </p>    
        </div>

    </div>
    
  </div>



  <%- include('./includes/footer') %>
  
  <script src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/equal-height.min.js"></script>
  <script src="/js/jquery.appear.js"></script>
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/modernizr.custom.13711.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/progress-bar.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/count-to.js"></script>
  <script src="/js/YTPlayer.min.js"></script>
  <script src="/js/loopcounter.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/bootsnav.js"></script>
  <script src="/js/main.js"></script>
  
  <script src="/js/generated/ready.js"></script>
  <script src="/js/generated/js_functions.js"></script>
  <script src="/js/index.js"></script>
</body>

</html >