<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Academie </title>
    <link rel="shortcut icon" href="/media/logo/favicon.ico" type="image/x-icon">
	<!-- <meta name="description" content="{$site_description}">
	<meta name="keywords" content="{$site_keywords}"> -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon-set.css" rel="stylesheet">
    <link href="/css/themify-icons.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/bootsnav.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
    <link href="util/css/home.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
  <%- include('./includes/header')%>
 
<div class="course-details-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="courses-info">
                    <!-- <h2>
                      About Course
                    </h2>
                      <P>
                          Travel & Tourism considered to be a part of service industry, is an essential constituent in development of an economy.
                           In India, it is the largest service industry that is developing expeditiously. From the worldwide estimate on Travel 
                           & Tourism sector, it can be well-concluded as the major revenue generating industry. Predominantly Travel & Tourism
                            comprises of Travel Management, Hospitality Management & Tour Management. Since it’s a diversified field, where every
                             component of inbound/outbound travelling, ticketing, accommodation, food & beverages are covered. Tourism is said to
                              be an elaborated discipline as compared to Travel. Nonetheless, the surging demand for Travel & Tourism has 
                              escalated the need for new evolutions in the industry. Simultaneously the job opportunities in the particular sector have multifold.
                            
                        </P> -->
                    
                    
                    <div class="course-meta" >
                      <div class="align-left" >
                        <h2 style="margin:0px;padding:0px;">  
                          TRAVEL & TOURISM
                        </h2>
                      </div>
                      <div class="align-right">
                        <a class="btn btn-theme effect btn-sm" href="enrollNow.html">
                          <i class="fas fa-chart-bar"></i> Enroll
                        </a>
                      </div>
                    </div>
                    <img src="/media/images/courses/tourism.jpg" alt="Thumb">
                    <div class="tab-info">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1" aria-expanded="true">
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2" aria-expanded="false">
                                    Course Curriculum
                                </a>
                            </li>
                            <li>
                              <a data-toggle="tab" href="#tab4" aria-expanded="false">
                                  Eligiblity
                              </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab3" aria-expanded="false">
                                    opportunity
                                </a>
                            </li>
                            
                        </ul>
                        <div class="tab-content tab-content-info">
                            <div id="tab1" class="tab-pane fade active in">
                                <div class="info title">
                                    <h4>Travel & Tourism</h4>
                                    <P>
                                        Travel & Tourism considered to be a part of service industry, is an essential constituent in development of an economy.
                                         In India, it is the largest service industry that is developing expeditiously. From the worldwide estimate on Travel 
                                         & Tourism sector, it can be well-concluded as the major revenue generating industry. Predominantly Travel & Tourism
                                          comprises of Travel Management, Hospitality Management & Tour Management. Since it’s a diversified field, where every
                                           component of inbound/outbound travelling, ticketing, accommodation, food & beverages are covered. Tourism is said to
                                            be an elaborated discipline as compared to Travel. Nonetheless, the surging demand for Travel & Tourism has 
                                            escalated the need for new evolutions in the industry. Simultaneously the job opportunities in the particular sector have multifold.
                                          
                                      </P>
                                      <p>
                                        Academie performs as a Travel Academy for students who are ambitious to build career in Travel & Tourism industry. Our well-defined
                                         courses are specifically structured to provide practical & professional learning on culture, heritage, tourist attractions, 
                                         transportations, tips & packages. 
                                      </p>
                                      <p>
                                        As the course houses plethora of Travel & Tourism aspects, students get well acquainted with the recurring & 
                                        future performance of the industry. Under the Travel Academy, Academie offers 4 different certifications
                                      </p>
                                      
                         
                                  </div>
                                  <div class="panel-group" id="accordion">
                                      <div class="panel panel-default">
                                        <div class="panel-heading ">
                                          <h4 class="panel-title  ">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                              1.	Certificate Course in GDS & Air Ticketing
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse active in">
                                          <div class="panel-body">
                                              <p>
                                                This specific skill set program is focused for students who wish to excel in Airline Industry.
                                                 The course plan includes understanding the ticketing process in GDS & CRS, 
                                                 fare calculations, itinerary pricing, airline fare type and many more. 
                                                 Experienced & industry-based faculty learning through online/offline classes will
                                                  provide an extensive knowledge in the field of operation.
                                                  </p>
                                             <ul class="ul-class">
                                                 <li>
                                                    <h4>
                                                       Duration: 3 months
                                                    </h4>
                                                 </li>
                                                 <li>
                                                    <h4>
                                                        Inclusions: Classroom/Online Lectures
                                                    </h4>
                                                    
                                                 </li>
                                             </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            2.	Certificate Course in Travel & Hospitality Management
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <p>  Under this course, students can gain expertise in two domains,
                                             Travel & Hospitality. As the Travel Management is a part of 
                                             Hospitality industry, the course benefits the students seek
                                              career in both the streams. The program includes elaborated knowledge on travel geography, travel terminologies, IATA , global indicators, hospitality, hotel industry, hotel reservations, so on and forth
                                           </p>
                                          <ul class="ul-class">
                                            <li>
                                               <h4>
                                                    Duration: 3 months
                                               </h4>
                                            </li>
                                            <li>
                                               <h4>
                                                	Inclusions: Classroom Lectures & Practical Based Trainings
                                               </h4>
                                               
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                            3.	Diploma in Tour & Travel Management
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                              It is a domain specific course on travel& tourism. Students who are enthusiatic about
                                              travelling, visiting places, knowking/connecting people must engage in Tour & Travel 
                                              Management course. This course is also known as people management where topics like world
                                              geography, planning & developing worldiwde itinerary, travel terminologies, IATA, global
                                              indicators, travel documents,international transport rules & regulations,etc. 
                                              The descriptive study format builds a framework
                                              for students to initiate blooming career opportunities in the Travel & Tourism industry.
                                             </p> 
                                            <ul class="ul-class">
                                                <li>
                                                   <h4>
                                                      Duration : 6 months
                                                   </h4>
                                                </li>
                                                <li>
                                                   <h4>
                                                    Inclusions: Classroom Lectures & Practical Based Trainings
                                                   </h4>
                                                   
                                                </li>
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                            4.	Diploma in Aviation, Travel & Hospitality Management
                                         </a>
                                        </h4>
                                      </div>
                                      <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                This is a diversified course where three prominent segments of service industry are 
                                                covered. Despite indulging in separate courses, our 3-in-1 integrated management
                                                 program provides a complete insight of the sectors. The skilled course will include 
                                                 understanding world geography, IATA, global indicators, GDS, air ticketing process, 
                                                 airline fare type, world maps, travel documentation & regulations and many more.
                                                 Through our regular assignments & assesments, students pursuing the course will 
                                                 undoubtedly enhance their proficiency in the subjects.
                                            </p>
                                          
                                            <ul class="ul-class">
                                                <li>
                                                   <h4>
                                                      Duration : 6 months
                                                   </h4>
                                                </li>
                                                <li>
                                                   <h4>
                                                    	Inclusions: Classroom Lectures & Practical Based Trainings
                                                   </h4>
                                                   
                                                </li>
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    <!-- <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                            Collapsible Group 3</a>
                                          </h4>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse">
                                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                          commodo consequat.</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                            Collapsible Group 3</a>
                                          </h4>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse">
                                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                          commodo consequat.</div>
                                        </div>
                                    </div> -->
                                </div>
                              
                            </div>
                            <div id="tab2" class="tab-pane fade ">
                                <div class="info title">
                                    <h4>Course Curriculum</h4>
                                    <P>
                                        Travel & Tourism  
                                        
                                    </P>
                                  

                                </div>
                                <div class="panel-group" id="accordion">
                                  <div class="panel panel-default">
                                    <div class="panel-heading ">
                                      <h4 class="panel-title  ">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                          1.	Tourism Management
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapse11" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                           <ul class="ul-class">
                                              <li>
                                                <h5>
                                                  Overview
                                                </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                  Principles & Practices
                                                </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                  Industry- Trends, Challenges & Strategies
                                                </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                  Travel Agent & Tour Operators
                                                </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                  Hotel & Motel Development
                                                </h5>
                                              </li>
                                              <li>
                                                <h5>
                                                  Accounting & Control
                                                </h5>
                                              </li>   
                                            </ul>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                                          2. Marketing & Management  in Service Industry 
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapse12" class="panel-collapse collapse">
                                      <div class="panel-body">
                                         
                                      
                                        <ul class="ul-class">
                                          <li>
                                             <h5>
                                              Airlines 
                                             </h5>
                                          </li>
                                          <li>
                                             <h5>
                                                Travel 
                                             </h5>
                                             
                                          </li>
                                          <li>
                                              <h5>
                                                Tours
                                              </h5>
                                          </li>
                                          <li>
                                              <h5>
                                                 Hotel
                                              </h5>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                                          3.	Hospitality Oriented 
                                       </a>
                                      </h4>
                                    </div>
                                    <div id="collapse13" class="panel-collapse collapse">
                                      <div class="panel-body">
                                         
                                          <ul class="ul-class">
                                            <li>
                                               <h5>
                                                  Language studies 
                                               </h5>
                                            </li>
                                            <li>
                                               <h5>
                                                 Car Rentals
                                               </h5>
                                               
                                            </li>
                                            <li>
                                                <h5>
                                                    Hotel Reservations
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                   Fare Calculation
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                  Hotel Management And Operations
                                                </h5>
                                            </li>
                                            <li>
                                              <h5>
                                                Travel Formalities
                                              </h5>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                                          4.	Airlines 
                                       </a>
                                      </h4>
                                    </div>
                                    <div id="collapse14" class="panel-collapse collapse">
                                      <div class="panel-body">
                                         
                                          <ul class="ul-class">
                                            <li>
                                               <h5>
                                                  Aviation History
                                               </h5>
                                            </li>
                                            <li>
                                               <h5>
                                                  Organizations
                                               </h5>
                                               
                                            </li>
                                            <li>
                                                <h5>
                                                    Fares And Ticketing terminology
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                   Air Travel Geography
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                  Time Zones & Time Calculation
                                                </h5>
                                            </li>
                                            <li>
                                              <h5>
                                                	Global Indicators
                                              </h5>
                                            </li>
                                            <li>
                                              <h5>
                                                	Airport & Airline Codes
                                              </h5>
                                            </li>
                                            <li>
                                              <h5>
                                                	Electronic Ticketing
                                              </h5>
                                            </li>
                                            <li>
                                              <h5>
                                                	Payment Modes, Currency & Taxes
                                              </h5>
                                            </li>
                                            <li>
                                              <h5>
                                                Baggage Rules
                                              </h5>
                                            </li>
                                            <li>
                                              <h5>
                                                	Itinerary Planning 
                                              </h5>
                                            </li>
                                          </ul>
                                      </div>
                                    </div>
                                  </div>
                                                                    
                              </div>
                                
                            </div>
                            
                            <div id="tab3" class="tab-pane fade">
                                <div class="info title">
                                    <div class="advisor-list-items">
                                        
                                        <!-- {foreach from=$instructors_details item=instructor_details} -->
                                        
                                        <h4>Top Opportunities</h4>
                                        <ul class="ul-class">
                                            <li>
                                               <h5>
                                                Holiday/Travel Agent
                                               </h5>
                                            </li>
                                            <li>
                                               <h5>
                                                Tourism Manager
                                               </h5>
                                               
                                            </li>
                                            <li>
                                                <h5>
                                                  Travel Officer or Travel Agency Co-coordinator
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                  Travel Consultant
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                  Airlines Staff
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                  Transport Officer	
                                                </h5>
                                            </li>
                                            
                                          </ul>
    
                                        
                                        <!-- {/foreach} -->
                  
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="tab-pane fade">
                              <div class="info title">
                               
                                 
                                  <P>
                                    <h4> 
                                        Minimum Qualification 
                                        <h5> 
                                            12th pass, bachelors or any equivalent degree
                                        </h5>
                                    </h4>
                                    </P>
                                  <h4>
                                    Suitable For <h5>
                                        10+2 pass outs, graduates, travel agents, call centre agents, tour operators
                                      </h5>
                                  </h4>
                                  
                             
                              </div>                                
                          </div>
                        </div>
                    </div>
                </div>
            </div>
<!--  -->
        
        </div>
    </div>
</div>
      
<%- include('./includes/footer')%>
  
  <script src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/equal-height.min.js"></script>
  <script src="/js/jquery.appear.js"></script>
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/modernizr.custom.13711.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/progress-bar.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/count-to.js"></script>
  <script src="/js/YTPlayer.min.js"></script>
  <script src="/js/loopcounter.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/bootsnav.js"></script>
  <script src="/js/main.js"></script>
  
  <script src="/js/generated/ready.js"></script>
  <script src="/js/generated/js_functions.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>