<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Academie </title>
    <link rel="shortcut icon" href="/media/logo/favicon.ico" type="image/x-icon">
	<!-- <meta name="description" content="{$site_description}">
	<meta name="keywords" content="{$site_keywords}"> -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/flaticon-set.css" rel="stylesheet">
    <link href="/css/themify-icons.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/bootsnav.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
    <link href="util/css/home.css" rel="stylesheet">
</head>

<body style="  background-color: #b5e9f1df;">
    <%- include('./includes/header') %> <%- include('./includes/includeTiles')
    %>


<div class="about-area default-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="about-items">
                <div class=" " >
                    <h2 class="bg-primary" style="background-color:#002147; text-align: center; padding:12px;">Why Choose Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="about-items">
                <div class="col-md-6 about-info bg-success" style="margin-right: 2%;box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;" >
                    <p><h3 style="text-align: center;">International Certification</h3> The courses offered are Internationally certified & acknowledged. The best in-class infrasturcture supports & accepts registration fron every geographical locations. The global acceptance of the program entitles students to seek wide variety of domain- specific jobs all across the world.</p>
                </div>
                <div class="col-md-5 about-info bg-success" style="padding-bottom: 2%; box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;">
                    <p><h3 style="text-align: center;">100% Placement Assistance</h3> The program focuses to extend services of getting hired by the desired recruiters or companies. Several top companies run their campus placement drive & recruit students from Accademie.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="about-items">
                <div class="col-md-6 about-info bg-success" style="padding-bottom: 2%; margin-right: 2%;box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;">
                    <p><h3 style="text-align: center;">Guaranteed Intership</h3> Accademie ensures to deliver promised intership during the course of study. This enables to get accustomized with the actual industry norms & work-culture.</p>
                </div>
                <div class="col-md-5 about-info bg-success" style="box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;">
                    <p><h3 style="text-align: center;">Training Experts</h3> The tutors & guest lecturers are well versed with all the technicalities prevailing in the industry. Their professional experience provides real in-sight of the business world. </p>
                </div>
            </div>
        </div>
    </div>
</div>
  


<%- include('./includes/footer') %>
  
  <script src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/equal-height.min.js"></script>
  <script src="/js/jquery.appear.js"></script>
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/modernizr.custom.13711.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/progress-bar.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/count-to.js"></script>
  <script src="/js/YTPlayer.min.js"></script>
  <script src="/js/loopcounter.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/bootsnav.js"></script>
  <script src="/js/main.js"></script>
  
  <script src="/js/generated/ready.js"></script>
  <script src="/js/generated/js_functions.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>