<footer class="bg-dark text-light">
    <div class="container">
        <div class="f-items default-padding" style="padding-top:30px; padding-bottom:30px;">
            <div class="row">
                <div class="col-md-5 col-sm-6 item equal-height">
                    <div class="f-item about">
                        <h4>ABOUT</h4>
                        <p style="margin-bottom:20px;">
                            Academie is a platform for online education where we conduct several online certified courses in respective fields. The fields and complete details can be obtained from our brochure.
                        </p>
                        <hr>
                        <div style="padding-top:20px;">
                         
                                <div class="row "  >
                                    <div class="col-sm-4" style="margin:auto; padding-right:0px;">
                                        <div class="row">
                                            <div class="col-sm-12" style=" padding-right:0px;">
                                                <a href="https://goo.gl/maps/PJGsntCV1Xr6Xp2s8" target="_blank">OFFICE<span>
                                                   <p style="margin:0;"> <span>703 Tower C I-thum Sector-62 Noida</span> </p>
                                                </a>
                                            </div>
                                            <div class="col-sm-12" >
                                                <a href="https://goo.gl/maps/PJGsntCV1Xr6Xp2s8" target="_blank">
                                           
 
                                                    <img src="/media/icon/google-map.png" style="height:60px; width:60px;">
                                                 </a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="mailto:mailto:info@academie.in">EMAIL <span>
                                            <af href="mailto:info@academie.in">
                                                info@academie.in
                                            </af> </span>
                                        </a>
                                    </div>
                                    
                                    <div class="col-sm-4" style="margin:auto;">
                                        <a href="tel:0120-6870055"><SPAN>CALL</SPAN><span>
                                            <af href="mailto:info@academie.in">
                                               <P> 0120-6870055</P>
                                            </af> </span>
                                        </a>
                                    </div>
                                   
                                </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 item equal-height">
                    <div class="f-item link">
                        <h4>SUPPORT</h4>
                        <ul>
                            
                            
                            <li>
                                <a href="feedback.html"><i class="ti-angle-right"></i> FEEDBACK</a>
                            </li>
                            <li>
                                <a href="contactUs.html"><i class="ti-angle-right"></i>ASSISTANCE</a>
                            </li>
                            <li>
                                <a href="faqNew.html"><i class="ti-angle-right"></i> FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 item equal-height">
                    <div class="f-item link">
                        <h4>LINKS</h4>
                        <ul>
                            <li>
                                <a href="student.html"><i class="ti-angle-right"></i>  STUDENTS</a>
                            </li>
                            <li>
                                <a href="career.html"><i class="ti-angle-right"></i>FACULTY</a>
                            </li>
                            <li>
                                <a href="accreditation.html"><i class="ti-angle-right"></i> ACCREDITATION </a>
                            </li>
                            <li>
                                <a href="franchise.html"><i class="ti-angle-right"></i> Franchise </a>
                            </li>
                         
                            <!-- <li>
                                <a href="contactUs.html"><i class="ti-angle-right">  </i> CONTACT US</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
               
                <div class="col-md-3 col-sm-6 item equal-height">
                    <div class="f-item link">
                        <h4>LATEST COURSES</h4>
                        <ul>
                            <!-- {foreach from=$all_courses|@array_reverse item=course name="course_loop"} -->
                            <li>
                                <a href="humanresource.html"><i class="ti-angle-right"></i> HR MANAGEMENT</a>
                            </li>
                            <li>
                                <a href="digitalMarketing.html"><i class="ti-angle-right"></i> DIGITAL MARKETING</a>
                            </li>
                            <li>
                                <a href="retailManagement.html"><i class="ti-angle-right"></i> RETAIL MANAGEMENT</a>
                            </li>
                            <li>
                                <a href="travelManagement.html"><i class="ti-angle-right"></i>TRAVEL MANAGEMENT</a>
                            </li>
                            <li>
                                <a href="it.html"><i class="ti-angle-right"></i>INFORMATION TECHNOLOGY</a>
                            </li>
                                <!-- {if $course@index == 4}
                                    {break}
                                {/if}
                            {/foreach} -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <p><strong>Copyright &copy; 2021 - <b style="color:white" font-size:10px; id="htmlYear"> </b>  Syolo Outsourcing | Developed & Designed by <a href="https://syolooutsourcing.com" target="_blank">Syolo Outsourcing</a></strong></p>
                </div>
                <div class="col-md-5 text-right link">
                    <ul>
                        <li>
                            <a href="TermCondition.html">Terms & Privacy</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script > 
          var today = new Date();
          var element = document.getElementById("htmlYear");
          var d = today.getFullYear();
           element.innerHTML= d ;
</script>