
<div class="about-area default-padding">
    <div class="container">
        <div class="row">
            <div class="about-items">
                <div class="col-md-6 about-info">
                    <h2>Welcome ! <span>We're Global Education Academy</span></h2>
                    <blockquote>
                        Anyone with high inspiration and dedication can change the world. We just show the path. Join us for having something we call breakthrough in life.
                    <div class="semester-apply">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 item">
                                <h4>Students</h4>
                                <p>
                                    Register with our platform for an enhanced career that is awaiting for you.
                                </p>
                                <a class="btn btn-dark effect btn-sm" href="enrollNow.html"><i class="fas fa-angle-right"></i> Enroll Now</a>
                            </div>
                            <div class="col-md-6 col-sm-6 item">
                                <h4>Faculty</h4>
                                <p>
                                    Join the group of most dedicated and top quality faculties here .
                                </p>
                                <a class="btn btn-dark effect btn-sm" href="faculty.html"><i class="fas fa-angle-right"></i> Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 features text-light">
                    <div class="row">
                        <div class="equal-height col-md-6 col-sm-6">
                            <div class="item mariner">
                                <a href="#">
                                    <div class="icon">
                                        <i class="ti-panel"></i>
                                    </div>
                                    <div class="info">
                                        <h2> 45+ </h2>
                                        <h4>Expert faculty</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="equal-height col-md-6 col-sm-6">
                            <div class="item brilliantrose">
                                <a href="#">
                                    <div class="icon">
                                        <i class="ti-ruler-pencil"></i>
                                    </div>
                                    <div class="info">
                                        <h2>35+</h2>
                                        <h4>Professionals</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="equal-height col-md-6 col-sm-6">
                            <div class="item casablanca">
                                <a href="#">
                                    <div class="icon">
                                        <i class="ti-server"></i>
                                    </div>
                                    <div class="info">
                                        <h2>24+</h2>
                                        <h4>Courses</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="equal-height col-md-6 col-sm-6">
                            <div class="item malachite">
                                <a href="#">
                                    <div class="icon">
                                        <i class="ti-desktop"></i>
                                    </div>
                                    <div class="info">
                                        <h2>10+</h2>
                                        <h4>Accreditations</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>